<%= form_for @listing do |f| %>

  <% if @listing.errors.any? %>

    <p><%= pluralize(@listing.errors.count, 'errors') %> prevented this listing from being saved.</p>

    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul> 

  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %><br />

  <%= f.label :price %>
  <%= f.text_field :price %><br />

  <%= f.label :description %>
  <%= f.text_area :description %><br />

  <%= f.submit %>

<% end %>